{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Statistiques du site :</h1>
    <div class="bloc-stats">
        <div class="bloc-stats-content">
            <p>Number of articles : <mark>{{articlesCount}}</mark></p>
            <p>Number of products : <mark>{{productsCount}}</mark></p>
            <p>Number of category : <mark>{{categoryCount}}</mark></p>
            <p>Number of users : <mark>{{usersCount}}</mark></p>
        </div>
    </div>

</div>
{% endblock %}
